spring:
  profiles:
    active: mariadb

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    hikari:
      url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=false
      username: sa
      password:
      driver-class-name: org.h2.Driver

---
spring:
  config:
    activate:
      on-profile: mariadb
  datasource:
#    hikari:
#      jdbc-url: jdbc:mariadb://localhost:3306/springbatch
#      driver-class-name: org.mariadb.jdbc.Driver
#      username: student
#      password: 1111
    url: jdbc:mariadb://localhost:3306/LEARNING_SB
    driver-class-name: org.mariadb.jdbc.Driver
    username: student
    password: 1111
  batch:
    jdbc:
      initialize-schema: never
    # job 자동실행 여부 설정
#    job:
#      enabled: false

